.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar a {
  font-size: 16px;
  font-weight: 600;
  color: gray;
  background-color: tomato;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.navbar .logo {
  width: max(10%, 80px);
}

.navbar .profile {
  width: 60px;
}

.navbar .logo {
  width: 80px;
}
