.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar a {
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: tomato;
  padding: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.navbar a:hover {
  color: black;

.navbar .logo {
  width: max(10%, 80px);
}

.navbar .profile {
  width: 60px;
}

.navbar .logo {
  width: 80px;
}
